<html>
<style>
body{
        margin: 0px;
        background-color: black;
}
.title{
        background-color: black;
        color: white;
        font-family: sans-serif;
        padding: 10px;
        text-align: center;
}

.info{
        background-color: <%= @color%>;
        color: white;
        font-family: sans-serif;
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
}
</style>
<body>
        <div class="title">
                <h1>
					Information for: <%= @name %>
                <h1>
        </div>
        <div class='info'>
                <h1 >
					<%= @ticker %> <br>
					Change:	<%= @change %> <br>
					Percent Change: <%= @percent %> <br>
					Open Value: <%= @open %> <br>
                </h1>
        </div>
        <div class="title">
                <p>
                        Samir Ahmed, Ben Duong
                <p>
        </div>
</body>
</html>
